{% extends 'base.html.twig' %}

{% block title %} Accueil{% endblock %}
{% block body %}
<div class="container">
    <div style="height: 100px"></div>
        <div class="col-12">
            <h1>Welcome TO The Jungle Circus</h1>
            <img class="img-fluid shadow-effect rounded" src="assets/images/jungle_LG.jpg" alt=""
                     style="width: 100%; max-height: 250px;"
            >
         </div>
    </div>
</div>
<div class="container-fluid home-section p-5">
    <div class="container">
        <div data-aos="zoom-in-up"
             data-aos-duration="1000"
             data-aos="flip-up"
             data-aos-easing="ease-out-cubic"
             data-aos-duration="2000">
                <div class="container">
                    <a href="{{ path('star') }}" class="btn btn-secondary btn-lg active" role="button">STARS</a>
                    <a href="{{ path('show') }}" class="btn btn-secondary btn-lg active" role="button">Buy Fight</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid home-section p-5">
    <div class="container">
         <div data-aos="zoom-in-up"
              data-aos-duration="1000"
              data-aos="flip-up"
              data-aos-easing="ease-out-cubic"
              data-aos-duration="2000">
              <div class="row my-5 border rounded shadow-effect">
                    <div class="col-12 text-center my-5">
                        <h3 class="title-page">Why Jungle ?</h3>
                    </div>
                    <div class="col-12 text-medium-size text-white" style="font-size: 20px;">
                        <p>
                            people, politicians ... love to put on a show! the one you know!
                            and there is a hidden part! here you will discover who are the men!
                            and inevitably you will end up telling yourself I don't like people !!!
                        </p>
                        <p>
                            you know fight-club, here it's even better come buy your politico-fight
                        </p>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}









