{% extends 'base.html.twig' %}
{% block title %}My SHOW{% endblock %}
{% block body %}
<div class="mt-5"><h1><br></h1></div>
<div class="container">
    <h1>My SHOW</h1>
</div>
<div class="mt-5"><h1><br></h1></div>
    <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-xs-12 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-secondary">First Show</h5>
                            <h5 class="card-title text-secondary">Trump -VS. Kim Jong-un </h5>
                            <div class="mr-2">
                                <iframe width="250" height="250" src="https://www.youtube.com/embed/_6W-jlJSqNI" frameborder="50" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}